$sans-font: 'Roboto', sans-serif;
$serif-font: 'DM Serif Display', serif;
$sans-nasa-font: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
@font-face {
    font-family: 'Nasalization';
    src: url('~assets/fonts/nasalization.ttf') format('truetype');
}
$nasa-font: 'Nasalization', 'Roboto', sans-serif;

$site-base-color: #4c4c42;
$site-mid-color: lighten($site-base-color, 40%);
$site-light-color: lighten($site-base-color, 50%);
$site-lighter-color: lighten($site-base-color, 55%);
$site-lightest-color: lighten($site-base-color, 65%);

$eggshell-color: lighten(#F0EAD6, 8%);

$dark-text: $site-base-color;
$nasa-red: #d52b16;
$nasa-blue: #013ba6;

$light-bg: $site-lightest-color;
$dark-bg: rgb(60, 60, 60);

$content-border-color: $site-base-color;
// $content-border-color: $nasa-blue;
$content-border-width: 3px;

