html {
    font-family: $sans-nasa-font;
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    background-color: $eggshell-color;
    color: black;
    overflow: scroll;
}

html, body, .site-wrapper {
    margin: 0;
    padding: 0;
}

ul, ol {
    margin: 0;
}

// FONTS

a {
    text-decoration: none;
}

h1 {
    margin-bottom: 2rem;
}

p {
    line-height: 1.5rem;
}

.font-small{
    font-size: 0.75rem;
}

.font-normal{
    font-size: 1rem;
}

.font-large{
    font-size: 1.5rem;
}

.bold {
    font-weight: bold;
}

.page-title {
    font-family: $nasa-font;
    color: $nasa-red;
    font-size: 3rem;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

// CONTENT + WRAPPERS

.quote {
    position: relative;
    padding: 20px 2rem;
    @include content-borders;
    background-color: $light-bg;
    margin-bottom: 40px;
    border-radius: 5px;
    line-height: 2.25rem;
}

.tool-box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: lighten($site-lighter-color, 5%);
    border: 1px solid darken($site-lighter-color, 5%);
    width: fit-content;
    padding: 10px;
    border-radius: 5px;
    margin: 30px auto;
    flex-wrap: wrap;

    @include bp(not-phone) {
        margin: auto;
    }

    .tool {
        max-width: 60px;
        margin-right: 20px;
        -webkit-filter: saturate(0.35);
        filter: saturate(0.35);

        &:last-child {
            margin-right: 0;
        }
    }

}

.tool-box--project {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: $site-lighter-color;
    width: 100%;
    margin: 0 auto;
    padding: 5px 0;

    .tool {
        max-width: 40px;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);

        &:last-child {
            margin-right: 0;
        }
        @include bp(laptop) {
            max-width: 35px;
        }
    }
}

.tool-box--role {
    @extend .tool-box;
    width: auto;
    border: none;
    margin-bottom: 40px;
    justify-content: space-evenly;
    background-color: $site-lightest-color;
    @include content-borders;

    .tool {
        max-width: 80px;
        @include bp(phone) {
            margin: 10px 5%;
        }
        @include bp(not-phone) {
            padding: 10px;
        }
    }
}

.role-box {
    position: relative;
    padding: 20px 2rem;
    @include content-borders;
    background-color: $light-bg;
    border-radius: 5px;

    .role {
        margin-top: 0;
        font-weight: 300;
        letter-spacing: -1px;
        font-size: 2rem;
    }

    li {
        padding: 5px 0;
        line-height: 1.5rem;
    }
}

.project-box {
    @extend .role-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @include bp(not-phone) {
        flex-direction: row;
    }
}

@for $i from 2 through 8 {
    .split-#{$i} {
        width: 100%;
        @include bp(not-phone) {
            width: (100% / $i);
        }
    }
}

.content-wrapper {
    max-width: $max-content-width;
    margin: 85px auto;
    padding: 0 20px;
    overflow: hidden;
    color: $dark-text;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-content {
    margin-bottom: 80px;
    animation-delay: 0.25s
}

// ANIMATIONS

.fade-in{
    animation: fade-in 0.5s;
    animation-fill-mode: backwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        ransform: translateY(0px);
    }
}

.fade-out{
    animation: fade-out 0.5s;
    animation-fill-mode: forwards;
}

@keyframes fade-out {
    from {
        opacity: 1;
        transform: translateY(0px);
    }
    to {
        opacity: 0;
        transform: translateY(30px);
    }
}

.slide-out{
    animation: slide-out 0.5s;
    animation-fill-mode: forwards;
}

@keyframes slide-out {
    from {
        opacity: 1;
        transform: translateX(0px);
    }
    to {
        opacity: 0;
        transform: translateX(50px);
    }
}

.slide-in{
    animation: slide-in 0.5s;
    animation-fill-mode: backwards;
}

@keyframes slide-in {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}
