html {
    font-family: $sans-font;
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    background-color: white;
    color: black;
    overflow: scroll
}

html, body, .site-wrapper {
    margin: 0;
    padding: 0;
}

ul, ol {
    margin: 0;
}

// FONTS

a {
    text-decoration: none;
}

h1 {
    margin-bottom: 2rem;
}

.font-small{
    font-size: 0.75rem;
}

.font-normal{
    font-size: 1rem;
}

.font-large{
    font-size: 1.5rem;
}

.bold {
    font-weight: bold;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

// CONTENT + WRAPPERS

.quote {
    position: relative;
    padding: 20px 2rem;
    @include content-borders;
    background-color: $light-bg;
    margin-bottom: 40px;
    border-radius: 5px;
}

.role-box {
    position: relative;
    padding: 20px 2rem;
    @include content-borders;
    background-color: $light-bg;
    border-radius: 5px;

    .role {
        margin-top: 0;
    }

    li {
        padding: 5px 0;
    }
}

.project-box {
    @extend .role-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @include bp(not-phone) {
        flex-direction: row;
    }
}

@for $i from 2 through 8 {
    .split-#{$i} {
        width: 100%;
        @include bp(not-phone) {
            width: (100% / $i);
        }
    }
}

.tool-box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: $site-lighter-color;
    width: fit-content;
    padding: 10px;
    border-radius: 5px;
    margin: 30px auto;

    @include bp(not-phone) {
        margin: auto;
    }

    .tool {
        max-width: 60px;
        margin-right: 20px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.content-wrapper {
    max-width: 1150px;
    margin: 95px auto;
    padding: 0 20px;
    overflow: hidden;
    color: $dark-text;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-content {
    margin-bottom: 80px;
}

// ANIMATIONS

.fade-in{
    animation: fade-in 0.5s;
    animation-fill-mode: backwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        ransform: translateY(0px);
    }
}

.fade-out{
    animation: fade-out 0.5s;
    animation-fill-mode: forwards;
}

@keyframes fade-out {
    from {
        opacity: 1;
        transform: translateY(0px);
    }
    to {
        opacity: 0;
        transform: translateY(30px);
    }
}

.slide-out{
    animation: slide-out 0.5s;
    animation-fill-mode: forwards;
}

@keyframes slide-out {
    from {
        opacity: 1;
        transform: translateX(0px);
    }
    to {
        opacity: 0;
        transform: translateX(50px);
    }
}

.slide-in{
    animation: slide-in 0.5s;
    animation-fill-mode: backwards;
}

@keyframes slide-in {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}
